# App
NODE_ENV=
APP_PORT=

# Database — app connection
JAWSDB_URL=mysql://<user>:<secretpassword>@db:3306/<name-of-db>

# Database — MySQL container initialisation
MYSQL_ROOT_PASSWORD=<strongsecretpassword>
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=